@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html {
  height:100%;
}

body {
  height: 100%;
  background-image: url("img/light-bg1.png")
text-align: center;
font-family: "Average", serif;
  font-size: 5em


}

h1 {
  font-family: googleleapis;
color: orange;
}


 .title{
   font-size: 5em;

}

.btn {
  font-size: inherit;

  color: white;
  background-color:purple;
  text-decoration: none;
  padding: 1em ;
margin-bottom: 1.5em;
 display: inline-block;
}
  .guess {
  font size: 2em;
  display: block;
    margin: 0 auto 1.5em; }

    .trophy {
      height:200px;
    }

}